html{
    height: 50vh;
}
body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    cursor: default;

    color:black;
    /*background-color: rgb(100, 140, 255) !important;*/

    background: url('/static/images/blue_ccu_g&t.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 

}

#background{
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    z-index: -100;

    backdrop-filter: blur(10px);
    background-color: rgba(100, 140, 255, 0.5);
}

.nav-item{
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.nav-item > a {
    color: black;
    text-decoration: none;
}

.nav-item > a:hover {
    color: yellow;
    text-decoration: none;
}

form{
    border-radius: 5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    min-width: 25%;
    background-color: rgba(128, 128, 128, 0.75);
}

.form-group{
    width: 100%;
}



/* Index Page */

.indexContainer{
    height: 100%;
    min-width: 100%;
    margin-top: 30%;
    padding: 0;
}

.yellowText{
    color: yellow;
}

/* Login Page */

.loginContainer{
    height: 100%;
    min-width: 100%;
    margin-top: 10%;
    padding: 0;
}

#loginButton{
    background-color: black;
    color: white;
    border-color: black;
}

/* Signup Page */

.signupContainer{
    height: 100%;
    min-width: 100%;
    margin-top: 10%;
    padding: 0;
}

#signupButton{
    background-color: black;
    color: white;
    border-color: black;
}

/* Profile Page */

.profileContainer{
    height: 100%;
    min-width: 100%;
    margin-top: 10%;
    padding: 0;
}